
*{
  padding: 0px;
}
p{
  padding: 0px;
  margin: 0px;
}
.ContainerPrincipal{
    background-color:purple;
    height: 100vh;
    width: auto;
    margin: 0px 50px;
    display: grid;
    grid-template-columns: 1fr 4fr ;
}

.indice{
    background-color: aqua;
}

.contenido{
    background-color: white;
    padding: 1rem;
    color: black;
}

.titlePrincipal{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 1rem;
}
.capitulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    padding: 0 0 1rem 0;
}

.texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    align-self: center;
    padding: 0px;
}

.imagen{
    vertical-align: middle;
    color: blue;
}

.colorSubtitle{
    color: rgb(85, 85, 216);
}

/* Estilos para el modal */
.overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
  }
  
  .modal-content {
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  