*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerPrincipal{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 100wh;
    background-color: aliceblue;
}
.ContainerCursosCard{
    display: flex;
    flex-direction: column;
    background-color: orange;
    gap: 20px;
}
.containerCursos{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.nombre_lista_cursos{
    font-size: 2.5rem;
    text-align: left;
}

.targetaCurso{
    background-color: blue;
    min-height: 250px;
    min-width: 200px;
    border: solid 2px black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
}

.imagCurso{
    height: 40%;
    background-color: purple;
}