.containerTemasFunciones{
    background-color:green;
    min-height: calc(100vh - 170px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Tema{
    width: 100%;
    height: 150px;
    background-color: red;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Tema h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: beige;
    padding: 0rem 1rem;

}