.login{
    width: 100%;
    height: calc(100% - 120px);
    background-color: white;
    position: absolute;
}

.conten-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 80%;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 1.5rem;
    background-color: white;
    margin-top: 100px;
    text-align: start;
}


label{
    font-size: 1rem;
    color: red;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding: 0 0 5px 0;    
    gap: 1rem;
}

input{
    height: 30px;
    max-width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid gray;
}

.logo_form img{
width: 30px;
}

input:focus{
    outline: none;
    background-color: transparent;
}

.boton_login{
    width: 100px;
    height: 35px;
    padding: 0px;
    border: 0;
    border-radius: 0;
    background-color: var(--color-header);
    color: white;
    margin-top: 1rem;
}

.iniciar{
    font-family:serif;
}

.tienes{
    display: flex;
    gap: 0.5rem;
    color: black;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
.link{
    color:#00A4EF;
    cursor: pointer;
}

.error{
    font-size: 12px;
    color: red;
    line-height:1;
}

/* ----Registrese */

.conten-form-register{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-register{
    width: 40%;
    min-width: 420px;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 1rem;
    background-color: white;
    margin-top: 100px;
    text-align: start;
}

.info-register{
    display: flex;
    gap: 0.5rem;
    width: 100%;
}
.info-register div{
    max-width: 100%;
}

.datos{
    display: flex;
    justify-content: space-between;
}

.datos div{
    max-width: 100%;
}

.register-1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;
}

.input_register{
    border: 1px solid gray;
}

.Registrar{
    font-family:serif;
    margin-bottom: 1rem;
}

.atras-register{
    padding-bottom: 0.4rem;
    font-size: 1.5rem;
    color: black;
}