#root {
  width: auto;
  margin: 0;
  padding: 0;
  background-color:green;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

:root{
  --color-header:#0082A0;
}
